.-bg {
  background: no-repeat scroll center/cover;
}

.-flx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.-minvh {
  min-height: 100vh;
}

.-txsh {
  text-shadow: 2px 2px #000;
}
